[bumpversion]
commit = True
tag = True
tag_name = {new_version}
current_version = 0.0.9
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\.(?P<release>[a-z]+))?
serialize = 
	{major}.{minor}.{patch}.{release}
	{major}.{minor}.{patch}

[bumpversion:file:README.md]

[bumpversion:file:setup.py]

[bumpversion:file:databricks_converter/__version__.py]

[bumpversion:file:tests/test_version.py]

[bumpversion:part:release]
optional_value = stable
values = 
	dev
	stable
